.text{
	font-family:"MagdaCleanMono";
	src: url('MagdaCleanMono-Regular.otf');
	color: black;
	font-size: 26px;
	text-align: center;
	/*text-decoration: underline;*/
	height: 30px;
	width: 400px;
	font-weight:bold;
	resize: none;
	background-color: transparent;
	border-style: none;
}
input{
	border: 0;
}

.picture{
	text-align: center;
	width: 20px;
	height: 20px;
}
